@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background: #eee;
}
.main .pro{
   width: 100%;
   height: 20vh;
   background-color: #9D8189;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.container{
   max-width: 2000px;
   margin:0 auto;
   padding:6rem 4rem;
   margin-top: -1040px;
}

.container .title h1{
   font-size: 10rem;
   color:#444;
   margin-bottom: 2rem;
   text-transform: uppercase;
   text-align: center;
}
.container .title h3{
   font-size: 5rem;
   color:#f8f7f7;
   margin-bottom: 4rem;
   text-transform: uppercase;
   text-align: center;
}
.line{
   background-color: #222;
   width: 100%;
   height: 3px;
   margin-top: 6vw;
   margin-bottom: 4vw;
}

.container .products-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);;
   gap: 10rem;
   width: 100%;
   height: 100%;

}

.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
   
}

.container .products-container .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.container .products-container .product img{
   height: 5 rem;
}

.container .products-container .product:hover img{
   transform: scale(.9);
}

.container .products-container .product h3{
   padding:.5rem 0;
   font-size: 1.5vw;
   color:#444;
}

.container .products-container .product:hover h3{
   color:#27ae60;
}

.container .products-container .product .price{
   font-size: 1.3vw;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:5rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin-top:5.6vw;
   width: 60rem;
   height: 100rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 40rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 5rem;
   margin-top: 0.4vw;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 2rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 3rem;
   color:#777;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2vw;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 4rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #191919;
   
}

.products-preview .preview .buttons a.buy:hover{
   background: #444;
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}