* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #9D8189;
}
.page-header{
    margin-top: 0px;
    z-index: 999;
    height: 7vw;
    width: 50%;
    position: absolute;
    top: 15%;
    left: 0vw;
    font-size: 2vw;
    background-image: url("banner.jpg");
    height: 20vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.headerText{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.gallery{
    width: 80%;
    height: 100%;
    z-index: 999;
    margin-top: 15vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: inline;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;

}
.content a img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-bottom: 25px;
    box-shadow: 16px 15px 8px 7px rgba(0, 0, 0, 0.06);
    transition: 0.4s;
}

.content a img:hover {
    box-shadow: 0 30px 6px rgba(0, 0, 0, 0.16), 0 30px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}


.content a{
    margin-top: 30vw;
    font-size: 1.5vw;
    text-decoration: none;
    font-weight: 800;
}
.content p{
    font-size: 1.3vw;
    text-align: center;
}
